# dependencies
node_modules/

# env files
.env
server/.env
client/.env

# IDEs
.idea/
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
client/dist/

# system files
.DS_Store
Thumbs.db

# database dumps

# uploads
server/uploads/
